@import "../../variables";

.template {

  text-align: center;

  button {
    padding: 0;

    img {
      max-height: 90px;
      max-width: 90px;
    }

    &.selected {
      background: $light-blue;
    }
  }
}

mat-tab-body {
  padding-top: 20px;
}
