<div fxLayout="row" fxLayoutAlign="space-between start">
  <h1 mat-dialog-title i18n>Edit {{data.board.title}}</h1>
  <button mat-icon-button aria-label="Close the cell editor" [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>


<div mat-dialog-content>
  <mat-form-field class="w-100">
    <mat-label i18n>Title</mat-label>
    <input matInput required [(ngModel)]="data.board.title">
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label i18n>Label Position</mat-label>
    <mat-select [(ngModel)]="data.board.defaultCellFormat.labelPosition">
      <mat-option value="top" i18n>Above Image</mat-option>
      <mat-option value="bottom" i18n>Below Image</mat-option>
      <mat-option value="hidden" i18n>Hidden</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-label i18n>Columns</mat-label>
  <mat-slider
    class="example-margin w-100"
    [max]="12"
    [min]="1"
    [step]="1"
    [thumbLabel]="true"
    [tickInterval]="1"
    [(ngModel)]="data.board.columns"
    (change)="data.board.populateCells()">
  </mat-slider>

  <mat-label i18n>Rows</mat-label>
  <mat-slider
    class="example-margin w-100"
    [max]="12"
    [min]="1"
    [step]="1"
    [thumbLabel]="true"
    [tickInterval]="1"
    [(ngModel)]="data.board.rows"
    (change)="data.board.populateCells()">
  </mat-slider>

</div>
<div mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial i18n>Done</button>
</div>
