@import "../../variables";

.debug {
  display: none;
}

.thumbnail {
  fill: $blue;
}

.text {
  stroke-width: 2;
  stroke: $blue;
}

.page {
  fill: none;
}

svg.selected {
  .page {
    fill: $blue;
  }
}
