<h1 mat-dialog-title>Search for a Symbol</h1>
<div mat-dialog-content>
  <mat-grid-list [cols]="3">

    <mat-grid-tile>

      <div class="example-container">

        <label id="example-radio-group-label">Search in</label>

        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="source">
          <mat-radio-button class="example-radio-button" *ngFor="let source of sources" [value]="source">
            {{source.name}}
          </mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="example-full-width" *ngFor="let param of source.params">
          <input matInput [(ngModel)]="param.value" [placeholder]="param.label">
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="3">
      3
    </mat-grid-tile>

  </mat-grid-list>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false" color="accent">Cancel</button>
  <span class="spacer"></span>
  <button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Insert Symbol</button>
</div>
