#homeLink, #gsLink {
  opacity: 0.75;
  line-height: 1rem;
  vertical-align: bottom;

  &:hover {
    opacity: 1;
  }

  img {
    max-width: 100%;
  }
}

#homeLink img {
  max-height: 1.2rem;
}

#gsLink img {
  max-height: 2rem;
}

$button-bottom-padding: 2px;
$icon-button-side-padding: 7px;

.user-controls-button {
  padding-right: $icon-button-side-padding;

  mat-icon {
    padding-bottom: $button-bottom-padding;
  }
}

.buttons .mat-button {

  padding-left: $icon-button-side-padding;

  mat-icon {
    padding-bottom: $button-bottom-padding;
    padding-right: 4px;
  }
}
