<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="20">
    <app-nav-button *ngFor="let button of leftButtons$ | async" [button]="button"></app-nav-button>
  </div>

  <a routerLink="/" style="line-height: 1rem;" id="homeLink" alt="Board Builder"><img src="assets/navbar-logo.svg" alt="Board Builder" style="max-height: 2.5rem;"></a>

  <div fxFlex="20" style="text-align: right">

    <app-nav-button *ngFor="let button of rightButtons$ | async" [button]="button"></app-nav-button>

    <a mat-button mat-icon-button href="https://training.globalsymbols.com/course/view.php?id=56#section-1" target="_blank" matTooltip="Help and Resources" class="mr-1">
      <mat-icon>help_outline</mat-icon>
    </a>

    <a mat-button mat-icon-button (click)="login()" target="_blank" matTooltip="Sign In" *ngIf="!(canActivateProtectedRoutes | async)">
      <mat-icon>account_circle</mat-icon>
    </a>

    <ng-container *ngIf="canActivateProtectedRoutes | async">
      <mat-menu #userMenu="matMenu" xPosition="before">
        <a mat-menu-item href="https://globalsymbols.com/users/edit" target="_blank">
          <mat-icon></mat-icon>
          Manage your Account
        </a>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Sign Out
        </button>
      </mat-menu>
      <button mat-stroked-button [matMenuTriggerFor]="userMenu" matTooltip="Global Symbols Account" class="user-controls-button">
        {{identityClaims.name}}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </ng-container>
  </div>
</mat-toolbar>
