<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="boardSet">
  <mat-toolbar color="primary" class="example-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button mat-button [routerLink]="['/', 'boardsets']">
        <mat-icon>arrow_back</mat-icon>
        <ng-container i18n>Board Sets</ng-container></button>
    </div>
<!--    <h1 class="example-app-name">Global Symbols BoardBuilder</h1>-->
    <a routerLink="/" style="line-height: 1rem;"><img src="assets/navbar-logo.svg" alt="Board Builder" style="max-height: 2.5rem;"></a>
    <div></div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
                         [autosize]="true"
  >
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="!mobileQuery.matches">
      <div class="builder-sidenav-section">


        <div fxLayout="row" fxLayoutAlign="space-between center" (dblclick)="editBoardSet()">
          <h3>{{boardSet.name}}</h3>
          <button mat-button mat-icon-button
                  [matMenuTriggerFor]="matBoardSetMenu"
                  matTooltip="Board Set Actions" matTooltipPosition="right"
                  (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>


      </div>

      <app-board-tree *ngIf="boardSet" [boards]="boardSet.boards" [selectedBoard]="board" (selectionChange)="selectBoard($event)"></app-board-tree>

      <div style="text-align: right; padding: 0 16px">
        <button mat-icon-button (click)="addBoard()" matTooltip="Add Board" matTooltipPosition="right" i18n-matTooltip aria-label="Add Board" i18n-aria-label>
          <mat-icon>add</mat-icon>
        </button>
      </div>


    </mat-sidenav>

    <mat-sidenav [opened]="selectedCell" mode="side" position="end" id="cellEditor" #cellEditor
                 (opened)="disableCellEditorAnimations = false"
                 (closed)="disableCellEditorAnimations = true; selectedCell = null">

      <app-cell-editor [(boardSet)]="boardSet" [(board)]="board" [(cell)]="selectedCell"
                       (closed)="cellEditor.close(); " [@.disabled]="disableCellEditorAnimations"></app-cell-editor>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-board-detail [board]="board" [(cell)]="selectedCell"></app-board-detail>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div id="leftSidebarToggler" [class.open]="snav.opened">
    <button [class.mat-elevation-z2]="true" mat-mini-fab color="primary" (click)="snav.toggle()" [matTooltip]="(snav.opened ? 'Hide' : 'Show') + ' Boards Panel'" matTooltipPosition="right">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>

<mat-menu #matBoardSetMenu="matMenu">
  <button mat-menu-item (click)="uploadBoardObf(board)">
    <mat-icon>insert_drive_file</mat-icon> <ng-container i18n>Add Board from OBF</ng-container>
  </button>
  <button mat-menu-item (click)="downloadBoardSetObz()">
    <mat-icon>save_alt</mat-icon> <ng-container i18n>Download Board Set as OBZ</ng-container>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="null">
    <mat-icon>delete</mat-icon> Delete
  </button>

  <button mat-menu-item (click)="editBoardSet()">
    <mat-icon>edit</mat-icon> Properties
  </button>
</mat-menu>

