<app-loading-notice class="mt-3" subject="Board Set" i18n-subject="board set|Board Set" *ngIf="loading"></app-loading-notice>
<app-error-not-found class="container mt-3" subject="Board Set" i18n-subject="board set|Board Set" *ngIf="loadingError"></app-error-not-found>
<div class="example-container" [class.example-is-mobile]="boardTreeMobileQuery.matches" *ngIf="boardSet">

  <mat-sidenav-container class="example-sidenav-container" [autosize]="true">
    <mat-sidenav #sideNav [mode]="boardTreeMobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="boardTreeMobileQuery.matches" fixedTopGap="56"
                 [opened]="!boardTreeMobileQuery.matches" id="leftSidebar"

    >
      <div fxLayout="column" fxFlex>
        <div id="leftSidebarHeaderPanel" class="mat-elevation-z4">


          <div fxLayout="row" fxLayoutAlign="space-between center" (dblclick)="editBoardSet()">
            <h3 id="boardSetName">{{boardSet.name}}</h3>

            <button mat-button mat-icon-button
                    [matMenuTriggerFor]="matBoardSetMenu"
                    matTooltip="Board Set Actions" i18n-matTooltip="board set actions|Board Set Actions button" matTooltipPosition="right"
                    (click)="$event.stopPropagation()"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="boardSet?.readonly">
            <div class="read-only" i18n="read only|Read Only indicator">Read Only</div>

            <button mat-button mat-icon-button (click)="copyBoardSet()"
                    matTooltip="Create Editable Copy" i18n-matTooltip="Board Set Create Editable Copy button" matTooltipPosition="right">
              <mat-icon>create</mat-icon>
            </button>
          </div>

        </div>

        <app-board-tree *ngIf="boardSet"
                        [boardSet]="boardSet"
                        [boards]="boardSet.boards"
                        [selectedBoard]="board"
                        (selectionChange)="selectBoard($event)"
                        (deleteBoard)="deleteBoard($event)"
                        (updateBoard)="loadBoardSet()"
                        fxFlex="grow"
                        style="overflow-y: overlay"
        >

        </app-board-tree>

        <div id="leftSidebarBottomPanel">
          <div>
            <button mat-mini-fab
                    (click)="addBoard()"
                    [disabled]="boardSet?.readonly"
                    matTooltip="Add Board" i18n-matTooltip="add board|Add Board" matTooltipPosition="right"
                    aria-label="Add Board" i18n-aria-label="add board|Add Board"
                    color="primary" >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>



    </mat-sidenav>

    <mat-sidenav [opened]="selectedCell" [mode]="cellEditorMobileQuery.matches ? 'over' : 'side'"
                 position="end" id="cellEditor" #cellEditor
                 (opened)="disableCellEditorAnimations = false"
                 (closed)="disableCellEditorAnimations = true"
                 (closedStart)="selectedCell = null"
                 *ngIf="!boardSet?.readonly">

      <app-cell-editor [boardSet]="boardSet"
                       [board]="board"
                       [cell]="selectedCell"
                       (closed)="cellEditor.close();"
                       (cellLinkedToBoard)="boardTree.rebuildTree()"
                       [@.disabled]="disableCellEditorAnimations"
                       fxLayout="column" fxFlex
      ></app-cell-editor>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-board-detail [board]="board" [(cell)]="selectedCell" [readonly]="boardSet.readonly" (boardChange)="selectBoard($event)"></app-board-detail>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div id="leftSidebarToggler" [class.open]="sideNav.opened">
    <button mat-mini-fab color="primary" (click)="sideNav.toggle()" [matTooltip]="(sideNav.opened ? 'Hide' : 'Show') + ' Boards Panel'" matTooltipPosition="right" class="mat-elevation-z2">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>

<mat-menu #matBoardSetMenu="matMenu">
  <button mat-menu-item (click)="uploadBoardObf()" [disabled]="boardSet?.readonly">
    <mat-icon>note_add</mat-icon> <ng-container i18n="Add Board from OBF">Add Board from OBF</ng-container>
  </button>
  <button mat-menu-item (click)="downloadBoardSetObz()">
    <mat-icon>save_alt</mat-icon> <ng-container i18n="download obz|Download Board Set as OBZ">Download Board Set as OBZ</ng-container>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item [matMenuTriggerFor]="copyLink">
    <mat-icon>link</mat-icon>
    <ng-container>Copy link...</ng-container>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="deleteBoardSet(boardSet)" [disabled]="boardSet?.readonly">
    <mat-icon>delete</mat-icon>
    <ng-container i18n="delete|Delete">Delete</ng-container>
  </button>

  <button mat-menu-item (click)="editBoardSet()" [disabled]="boardSet?.readonly">
    <mat-icon>edit</mat-icon>
    <ng-container i18n="properties|Properties">Properties</ng-container>
  </button>
</mat-menu>

<mat-menu #copyLink="matMenu">
  <button mat-menu-item (click)="copyLinkAG(false)">
    <mat-icon>link</mat-icon> <ng-container>open in AsTeRICS Grid</ng-container>
  </button>
  <button mat-menu-item (click)="copyLinkAG(true)">
    <mat-icon>link</mat-icon> <ng-container>import to AsTeRICS Grid</ng-container>
  </button>
</mat-menu>



<hotkeys-cheatsheet title="Keyboard Shortcuts" i18n-title="keyboard shortcuts|Keyboard Shortcuts" ></hotkeys-cheatsheet>
