<div class="section">


  <div fxLayout="column" fxLayoutAlign="center center">
    <h2>PDF Preview</h2>
    <button mat-raised-button (click)="downloadPdf()" class="mb-2" color="primary" [disabled]="!pdfReady">Download</button>

    <div *ngIf="generatingPdf" class="text-center">
      <mat-progress-spinner
        mode="indeterminate">
      </mat-progress-spinner>
      <p>Generating your PDF&hellip;</p>
    </div>

    <embed [hidden]="!pdfReady" #pdfFrame style="height: 600px; max-width: 1000px; width: 100%"/>
  </div>



  <div *ngIf="failureReason">
    <h2>Something went wrong</h2>
    <p>{{failureReason}}</p>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">

  </div>
</div>
