.board-tree-item-selected,
.board-tree-item-selected:hover
{
  background: rgba(0,0,0,0.2);
}

mat-list-item {
  mat-icon {
    opacity: 0.4;
  }

  &:hover mat-icon, button[aria-expanded='true'] mat-icon {
    opacity: 1;
  }
}
