.section {
  margin: 16px 16px 0 16px;
}

mat-grid-tile {
  position: absolute;
  text-align: center;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: black;
  background: rgba(255, 255, 255, 0.1);

  .boardset-grid-tile {
    padding: 1rem;

    p {
      margin-top: 0;
    }
  }
}
