<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div></div>
  <h1 i18n>GlobalSymbols BoardBuilder</h1>

  <span>
    <a mat-button mat-icon-button href="https://training.globalsymbols.com/course/view.php?id=56#section-1" target="_blank" matTooltip="Help and Resources">
      <mat-icon>help_outline</mat-icon>
    </a>
  </span>
</mat-toolbar>
<div class="section">
  <h2 i18n>My Board Sets</h2>
  <p i18n>Board Sets are saved in your browser. To return to your Board Sets, use BoardBuilder in the same browser.</p>
  <p>
    <button mat-button mat-raised-button color="primary" (click)="newBoardSet()" i18n>Create Board Set <mat-icon>add</mat-icon></button>
    &nbsp;
    <button mat-button mat-stroked-button color="primary" (click)="uploadBoardSetObz()" i18n>Add OBZ File <mat-icon>add</mat-icon></button>
  </p>

  <mat-grid-list [cols]="4" rowHeight="10rem" gutterSize="1rem">
    <mat-grid-tile *ngFor="let boardSet of boardSets">
      <div class="w-100 boardset-grid-tile">
        <div fxLayout="column" fxLayoutAlign="space-between none">
          <h3>{{boardSet.title}}</h3>

          <p>{{boardSet.boards.length}} Boards</p>

          <div fxLayout="row">
            <div fxFlex="50">
              <button mat-icon-button i18n-aria-label aria-label="Delete this Board Set" (click)="deleteBoardSet(boardSet)" *ngIf="boardSet" i18n-matTooltip matTooltip="Delete this Board Set">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button (click)="editBoardSet(boardSet)" i18n-matTooltip matTooltip="Edit this Board Set" i18n-aria-label aria-label="Edit this Board Set"><mat-icon>edit</mat-icon>
              </button>
            </div>

            <button fxFlex mat-flat-button color="primary" [routerLink]="boardSet.uuid" i18n>Open</button>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
<!--  <mat-form-field style="margin-top:2rem;">-->
<!--    <mat-label>Change Language</mat-label>-->
<!--    <mat-select (selectionChange)="changeLanguage($event)">-->
<!--      <mat-option *ngFor="let lang of languages" [value]="lang.code">-->
<!--        {{lang.name}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
</div>
