<div *ngIf="cell" gaCategory="CellEditor">

  <div fxLayout="row" fxLayoutAlign="space-between start" class="p-1">

    <mat-form-field appearance="outline" [floatLabel]="'never'" class="w-100 no-label cell-caption-form-field">
      <input #cellCaptionInput matInput [(ngModel)]="cell.caption" placeholder="Label" i18n-placeholder="cell.caption label|Cell caption field label" autocomplete="off" maxlength="250">
      <mat-hint align="end">{{cell.caption?.length || 0}}&nbsp;/&nbsp;250</mat-hint>
    </mat-form-field>

    <button mat-icon-button
            aria-label="Save and close the cell editor" i18n-aria-label="Cell editor Save and Close button ARIA description"
            matTooltip="Save and Close" i18n-matTooltip="save and close|Save and Close" matTooltipPosition="left"
            (click)="closeEditor()" style="margin-left: 1rem; margin-top: 8px"
            gaEvent="click" gaLabel="SaveAndClose"
    >
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>

<mat-tab-group (selectedTabChange)="triggerSearch($event)" mat-align-tabs="center" *ngIf="cell" gaCategory="CellEditor"
               fxFlex="grow">
  <mat-tab label="Cell" i18n-label="cell|Cell">
    <div class="p-1">

      <h3 class="mt-0" i18n="colours|Cell editor colours heading">Colours</h3>

      <mat-accordion>
        <app-colour-selector i18n-label width="302" label="Background" [(value)]="cell.background_colour" (valueChange)="saveCell()" icon="format_color_fill">
        </app-colour-selector>
        <app-colour-selector i18n-label width="302" label="Border" [(value)]="cell.border_colour" (valueChange)="saveCell()" icon="border_color">
        </app-colour-selector>
        <app-colour-selector i18n-label width="302" label="Text" [(value)]="cell.text_colour" (valueChange)="saveCell()" icon="format_color_text">
        </app-colour-selector>
        <app-colour-selector i18n-label width="302" label="Hair" [(value)]="cell.hair_colour" (valueChange)="saveCell()" icon="face" palette="hair" *ngIf="cell.picto?.adaptable">
        </app-colour-selector>
        <app-colour-selector i18n-label width="302" label="Skin" [(value)]="cell.skin_colour" (valueChange)="saveCell()" icon="insert_emoticon" palette="skin" *ngIf="cell.picto?.adaptable">
        </app-colour-selector>
      </mat-accordion>

      <h3 i18n="linking|Cell Editor linking heading">Linking</h3>

      <div class="cell-linked-notice-wrapper" *ngIf="cell.linked_board_id">
        <mat-card fxLayout="row" fxLayoutAlign="space-between center">
          <ng-container i18n="linked to|Cell Editor Board linked to header">Linked to</ng-container> {{linkedBoard ? linkedBoard.name : cell.linked_board_id}}
          <button mat-icon-button
                  aria-label="Unlink" i18n-aria-label="unlink|Unlink"
                  matTooltip="Unlink" i18n-matTooltip="unlink|Unlink" matTooltipPosition="left" (click)="unlinkCellFromBoard()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card>
      </div>

      <div *ngIf="!cell.linked_board_id">
        <div *ngIf="linkableBoards$ | async as linkableBoards; else loadingLinkableBoards">

          <div *ngIf="linkableBoards.length > 0">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label i18n="Cell Editor Link Board button">Link to a Board</mat-label>
              <mat-select (selectionChange)="afterCellLinkedToBoard()" [(ngModel)]="cell.linked_board_id">
                <mat-option *ngFor="let board of linkableBoards" [value]="board.id">{{board.name}}</mat-option>
              </mat-select>
              <mat-hint i18n="Cell Editor Link Board hint">This list shows only unlinked Boards.</mat-hint>
            </mat-form-field>
          </div>

          <div *ngIf="linkableBoards.length === 0">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon style="margin-right: 1rem;">info</mat-icon>
              <ng-container i18n="Cell Editor no Board to link 1">No Boards are available for linking.</ng-container>
              <br/>
              <ng-container i18n="Cell Editor no Board to link 2">Unlink an existing Board, or create a new one.</ng-container>
            </div>
          </div>
        </div>

        <ng-template #loadingLinkableBoards>
          <app-loading-notice diameter="49" layout="row" subject="Linkable Boards" i18n-subject="linkable boards|Linkable boards" [style.padding]="'20px 0'"></app-loading-notice>
        </ng-template>
      </div>

      <h3 i18n="Cell editor Move Cell heading">Move Cell</h3>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <button mat-stroked-button color="primary"
                (click)="moveCell(board.cells.indexOf(cell) - 1)"
                [disabled]="board.cells.indexOf(cell) === 0"
                fxFlex="50"
                gaEvent="click" gaLabel="MoveCellEarlier"
        >
          <div fxLayoutAlign="start center">
            <mat-icon>arrow_left</mat-icon>
            <ng-container i18n="Cell Editor Move Earlier button">Move Earlier</ng-container>
          </div></button>&nbsp;
        <button mat-stroked-button color="primary"
                (click)="moveCell(board.cells.indexOf(cell) + 1)"
                [disabled]="board.cells.indexOf(cell) === (board.cells.length - 1)"
                fxFlex="50"
                gaEvent="click" gaLabel="MoveCellLater"
        >
          <div fxLayoutAlign="end center">
            <ng-container i18n="Cell Editor Move Later button">Move Later</ng-container>
            <mat-icon>arrow_right</mat-icon>
          </div>
        </button>
      </div>


      <h3 i18n="Cell Editor Reset Cell button">Reset Cell Contents</h3>
      <button mat-stroked-button color="primary" (click)="clearCell('symbol')"
              gaEvent="click" gaLabel="ClearSymbol">
        <ng-container i18n="Cell Editor Clear Symbol button">Clear Symbol</ng-container>
      </button>&nbsp;
      <button mat-stroked-button color="primary" (click)="clearCell('colours')"
              gaEvent="click" gaLabel="ClearColours"
      >
        <ng-container i18n="Cell Editor Clear Colours button">Clear Colours</ng-container>
      </button>

    </div>
  </mat-tab>

  <mat-tab label="Symbol" i18n-label="symbol|Symbol">
    <div class="p-1">
      <app-search-panel #searchPanel [initialQuery]="cell.caption" (selectionChange)="selectSearchResult($event)"></app-search-panel>
    </div>
  </mat-tab>

  <mat-tab label="My Images" i18n-label="my images|My Images">
    <div class="p-1">
      <app-media-library (mediaSelect)="selectMedia($event)" [showCreate]="true"></app-media-library>
    </div>
  </mat-tab>
</mat-tab-group>
