.p-1 {
  padding: 1rem;
}

.cell-caption {
  background: transparent;
  color: white;
  border: 1px solid rgba(255,255,255, 0.5);
  border-radius: 3px;
  font-size: 1.3rem;
  padding: 3px 5px;
  margin-right: 1rem;
}

mat-panel-description {
  flex-direction: row-reverse;
}

// Set tab widths
::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active{
  min-width: 118px !important;
}

::ng-deep.mat-drawer-inner-container {
  overflow: overlay;
}
