<div cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary="body"
>
  <header fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
    <h1 mat-dialog-title class="mb-0">
      <ng-container *ngIf="data.board?.persisted()" i18n="board properties|Board Properties button">Board Properties</ng-container>
      <ng-container *ngIf="!data.board?.persisted()" i18n="add board|Add Board button">Add Board</ng-container>
    </h1>
    <button mat-icon-button aria-label="Close" i18n-aria-label="close|Close" [mat-dialog-close]="false" appStopPropagation>
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div mat-dialog-content *ngIf="data.board">

    <app-board-editor-form [board]="data.board"></app-board-editor-form>

  </div>
  <div mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" appStopPropagation cdkFocusInitial>
      <ng-container *ngIf="data.board?.persisted()" i18n="done|Done button">Done</ng-container>
      <ng-container *ngIf="!data.board?.persisted()" i18n="add board|Add Board button">Add Board</ng-container>
    </button>
  </div>

</div>
