<div cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary="body"
>
  <header fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
    <h1 mat-dialog-title i18n class="mb-0">
      <ng-container *ngIf="data.board?.persisted()">Board Properties</ng-container>
      <ng-container *ngIf="!data.board?.persisted()">Add Board</ng-container>
    </h1>
    <button mat-icon-button aria-label="Close" [mat-dialog-close]="false" (mousedown)="$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div mat-dialog-content *ngIf="data.board">

    <app-board-editor-form [board]="data.board"></app-board-editor-form>



  </div>
  <div mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" (mousedown)="$event.stopPropagation()" cdkFocusInitial i18n>
      <ng-container *ngIf="data.board?.persisted()">Done</ng-container>
      <ng-container *ngIf="!data.board?.persisted()">Add Board</ng-container>
    </button>
  </div>

</div>
