<div cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary="body"
>
  <header fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
    <h1 mat-dialog-title i18n class="mb-0">
      <ng-container *ngIf="data.board?.persisted()">Board Properties</ng-container>
      <ng-container *ngIf="!data.board?.persisted()">Add Board</ng-container>
    </h1>
    <button mat-icon-button aria-label="Close" [mat-dialog-close]="false" (mousedown)="$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div mat-dialog-content *ngIf="data.board">

    <div fxLayout="row" fxLayoutGap="20px">

      <div fxFlex="50">
        <mat-form-field class="w-100">
          <mat-label i18n>Title</mat-label>
          <input matInput required
                 [(ngModel)]="data.board.title"
                 (mousedown)="$event.stopPropagation()">
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label i18n>Label Position</mat-label>
          <mat-select [(ngModel)]="data.board.captions_position">
            <mat-option value="above" i18n>Top</mat-option>
            <mat-option value="below" i18n>Bottom</mat-option>
            <mat-option value="left" i18n>Left</mat-option>
            <mat-option value="right" i18n>Right</mat-option>
            <mat-option value="hidden" i18n>Hidden</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label i18n>Columns</mat-label>
        <mat-slider
          class="example-margin w-100"
          [max]="12"
          [min]="1"
          [step]="1"
          [thumbLabel]="true"
          [tickInterval]="1"
          [(ngModel)]="data.board.columns"
          (change)="data.board.populateCells()"
          (mousedown)="$event.stopPropagation()">
        </mat-slider>

        <mat-label i18n>Rows</mat-label>
        <mat-slider
          class="example-margin w-100"
          [max]="12"
          [min]="1"
          [step]="1"
          [thumbLabel]="true"
          [tickInterval]="1"
          [(ngModel)]="data.board.rows"
          (change)="data.board.populateCells()"
          (mousedown)="$event.stopPropagation()">
        </mat-slider>
      </div>

      <div fxFlex="50">

        <mat-tab-group>
          <mat-tab label="Generic Templates">
              <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="space-around center" class="w-100 p-1">
                <div *ngFor="let template of templates" fxFlex="0 1 calc(50% - 20px)" class="template">
                  <button mat-button (click)="selectTemplate(template)" [title]="template.description">
                    <img [src]="'assets/images/board-templates/'+template.slug+'.svg'"/>
                  </button>

                </div>
              </div>
          </mat-tab>

          <mat-tab label="Device Templates">
            <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="space-around center" class="w-100 p-1">
              Device templates here
            </div>
          </mat-tab>
        </mat-tab-group>


      </div>

    </div>



  </div>
  <div mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" (mousedown)="$event.stopPropagation()" cdkFocusInitial i18n>
      <ng-container *ngIf="data.board?.persisted()">Done</ng-container>
      <ng-container *ngIf="!data.board?.persisted()">Add Board</ng-container>
    </button>
  </div>

</div>
