<div cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary="body"
>

  <header fxLayout="row" fxLayoutAlign="space-between center" class="mb-1">
    <h1 mat-dialog-title class="mb-0">Symbol Creator</h1>

    <div>
      <button mat-icon-button (click)="dialogRef.close()" appStopPropagation
              aria-label="Discard"  matTooltip="Discard"
              i18n-aria-label="discard|Discard (throw away, cancel)" i18n-matTooltip="Discard changes (same button used for editing and creating symbols)"
              gaCategory="SymbolCreator" gaEvent="click" gaLabel="DiscardChanges"
      >
        <mat-icon>close</mat-icon>
      </button>

      <button mat-icon-button (click)="saveAndClose()" appStopPropagation
              aria-label="Save and Close" matTooltip="Save and Close"
              i18n-aria-label="save and close|Save and Close" i18n-matTooltip="save and close|Save and Close"
              gaCategory="SymbolCreator" gaEvent="click" gaLabel="SaveAndClose"
      >
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </header>

  <div mat-dialog-content class="pb-3">
    <app-symbol-creator appStopPropagation [media]="media"></app-symbol-creator>
  </div>
</div>
