<div *ngIf="cell">

  <div fxLayout="row" fxLayoutAlign="space-between start" class="p-1">

    <mat-form-field appearance="outline" [floatLabel]="'never'" class="w-100 no-label">
      <input matInput [(ngModel)]="cell.caption" placeholder="Caption" autocomplete="off">
    </mat-form-field>

    <button mat-icon-button aria-label="Close the cell editor" (click)="closeEditor()" style="margin-left: 1rem; margin-top: 8px">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-tab-group mat-stretch-tabs (selectedTabChange)="triggerSearch($event)">
    <mat-tab label="Cell">
      <div class="p-1">

        <h3>Style</h3>
        <mat-accordion>
          <app-colour-selector label="Background colour" [(value)]="cell.backgroundColour"></app-colour-selector>
          <app-colour-selector label="Border colour" [(value)]="cell.borderColour"></app-colour-selector>
          <app-colour-selector label="Text colour" [(value)]="cell.textColour"></app-colour-selector>
        </mat-accordion>

        <h3>Linking</h3>
        <mat-card *ngIf="cell.board" fxLayout="row" fxLayoutAlign="space-between center">
          Linked to {{cell.board.title}}
          <button mat-icon-button aria-label="Unlink" matTooltip="Unlink" (click)="unlinkCellFromBoard()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card>

        <div *ngIf="!cell.board">
          <div *ngIf="linkToBoardsList().length > 0">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Link to a Board</mat-label>
              <mat-select (selectionChange)="linkCellToBoard($event)">
                <mat-option *ngFor="let board of linkToBoardsList()" [value]="board">{{board.title}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon style="margin-right: 1rem;">info</mat-icon>
              This list shows only unlinked Boards.
            </div>
          </div>

          <div *ngIf="linkToBoardsList().length === 0">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon style="margin-right: 1rem;">info</mat-icon>
              No Boards are available for linking.<br/>Unlink an existing Board, or create a new one.
            </div>
          </div>
        </div>

        <h3>Reset Cell Contents</h3>
        <button mat-stroked-button color="primary" (click)="clearCell('symbol')">Clear Symbol</button>&nbsp;
        <button mat-stroked-button color="primary" (click)="clearCell('colours')">Clear Colours</button>

      </div>
    </mat-tab>

    <mat-tab label="Symbol">
      <div class="p-1">
        <app-symbol-search-panel #searchPanel [initialQuery]="cell.caption" (selectionChange)="selectImageUrl($event)"></app-symbol-search-panel>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
