<div *ngIf="cell">

  <div fxLayout="row" fxLayoutAlign="space-between center" class="p-1">
    <input [(ngModel)]="cell.caption" placeholder="Caption" class="cell-caption w-100">

<!--    <mat-form-field appearance="outline" [floatLabel]="'never'" class="w-100">-->
<!--      <mat-label>Caption</mat-label>-->
<!--      <input matInput [(ngModel)]="cell.caption">-->
<!--      <mat-icon matSuffix>mode_edit</mat-icon>-->
<!--    </mat-form-field>-->

    <button mat-icon-button aria-label="Close the cell editor" (click)="closeEditor()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Cell">
      <div class="p-1">

        <mat-accordion>
          <app-colour-selector label="Background colour" [(value)]="cell.backgroundColour"></app-colour-selector>
          <app-colour-selector label="Border colour" [(value)]="cell.borderColour"></app-colour-selector>
          <app-colour-selector label="Text colour" [(value)]="cell.textColour"></app-colour-selector>
        </mat-accordion>

        <h3>Linking</h3>
        <mat-card *ngIf="cell.board" fxLayout="row" fxLayoutAlign="space-between center">
          Linked to {{cell.board.title}}
          <button mat-icon-button aria-label="Unlink" matTooltip="Unlink" (click)="unlinkCellFromBoard()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card>

        <mat-form-field class="w-100" *ngIf="!cell.board" appearance="outline">
          <mat-label>Link to a Board</mat-label>
          <mat-select (selectionChange)="linkCellToBoard($event)">
            <mat-option *ngFor="let board of linkToBoardsList()" [value]="board" (select)="linkCellToBoard(board)">{{board.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-tab>

    <mat-tab label="Symbol">
      <div class="p-1">
        <app-symbol-search-panel (selectionChange)="selectImageUrl($event)"></app-symbol-search-panel>
      </div>
    </mat-tab>
  </mat-tab-group>



<!--  <h3>Search Symbols</h3>-->
<!--  <app-symbol-search-panel></app-symbol-search-panel>-->

</div>
{{cell | json}}
