<app-loading-notice action="Loading" subject="Symbol" i18n-action="loading|Loading" i18n-subject="symbol|Symbol" *ngIf="status === 'Loading'"></app-loading-notice>
<app-loading-notice action="Saving" subject="Symbol" i18n-action="saving|Saving" i18n-subject="symbol|Symbol" *ngIf="status === 'Saving'"></app-loading-notice>

<div *ngIf="status === 'SavingError'">
  <h2 i18n="Symbol Creator error saving heading">There was a problem saving your symbol</h2>
  <p>{{lastError}}</p>
  <button mat-flat-button color="primary" (click)="editMode()" class="mt-3" i18n="Symbol Creator error continue button">Continue Editing</button>
</div>

<div fxLayout="row" fxLayoutAlign="center none" [class.d-none]="status != 'Editing'" gaCategory="SymbolCreator">

  <div fxFlex fxLayout="column" class="mr-3">
    <!-- Top buttons-->
    <div fxLayout="row" fxLayoutAlign="space-between none">
      <div fxFlexOffset="4rem">
        <button mat-icon-button color="primary" [matMenuTriggerFor]="downloadMenu"
                aria-label="Save Symbol to Device" matTooltip="Save Symbol to Device"
                i18n-aria-label="save to device|Save to Device" i18n-matTooltip="save to device|Save to Device">
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>


      <div style="margin-right: 1rem;">

        <button mat-icon-button (click)="align('horizontal')" color="primary" [disabled]="selectedElements.length != 1"
                aria-label="align horizontal centre|Align to Horizontal Centre" matTooltip="align horizontal centre|Align to Horizontal Centre"
                i18n-aria-label="align horizontal centre|Align Horizontal Centre button" i18n-matTooltip="align horizontal centre|Align Horizontal Centre button"
                gaEvent="click" gaLabel="AlignHorizontalCentre">
          <mat-icon>align_horizontal_center</mat-icon>
        </button>

        <button mat-icon-button (click)="align('vertical')" color="primary" [disabled]="selectedElements.length != 1" class="mr-2"
                aria-label="Align to Vertical Centre" matTooltip="Align to Vertical Centre"
                i18n-aria-label="align vertical centre|Align to Vertical Centre" i18n-matTooltip="align vertical centre|Align to Vertical Centre"
                gaEvent="click" gaLabel="AlignVerticalCentre">
          <mat-icon>align_vertical_center</mat-icon>
        </button>

        <button mat-icon-button
                aria-label="Flip Horizontal" matTooltip="Flip Horizontal"
                i18n-aria-label="flip horizontal|Flip Horizontal" i18n-matTooltip="flip horizontal|Flip Horizontal"
                gaEvent="click" gaLabel="FlipHorizontal">
          <mat-icon>flip</mat-icon>
        </button>

        <button mat-icon-button (click)="flip('vertical')" color="primary" [disabled]="selectedElements.length != 1" class="mr-2"
                aria-label="Flip Vertical" matTooltip="Flip Vertical"
                i18n-aria-label="flip vertical|Flip Vertical" i18n-matTooltip="flip vertical|Flip Vertical"
                gaEvent="click" gaLabel="FlipVertical">
          <mat-icon class="rot-90-cw">flip</mat-icon>
        </button>

        <button mat-icon-button (click)="sendToBack()" color="primary" [disabled]="selectedElements.length === 0" class="mr-2"
                aria-label="Send Behind other Items" matTooltip="Send Behind other Items"
                i18n-aria-label="send behind|Send Behind other Items" i18n-matTooltip="send behind|Send Behind other Items"
                gaEvent="click" gaLabel="SendBehind">
          <mat-icon>flip_to_back</mat-icon>
        </button>

        <button mat-icon-button (click)="duplicate()" color="primary" [disabled]="selectedElements.length === 0" class="mr-2"
                aria-label="Duplicate Selected" matTooltip="Duplicate Selected"
                i18n-aria-label="duplicate selected|Duplicate Selected" i18n-matTooltip="duplicate selected|Duplicate Selected"
                gaEvent="click" gaLabel="Duplicate">
          <mat-icon>content_copy</mat-icon>
        </button>

        <button mat-icon-button (click)="deleteSelectedItems()" color="primary" [disabled]="selectedElements.length === 0"
                aria-label="Delete Selected" matTooltip="Delete Selected"
                i18n-aria-label="delete selected|Delete Selected" i18n-matTooltip="delete selected|Delete Selected"
                gaEvent="click" gaLabel="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>



    </div>

    <!-- Side buttons and Canvas -->
    <div fxLayout="row" fxLayoutGap="1rem grid">
      <!-- Side Buttons -->
      <div fxLayout="column" fxLayoutAlign="start center">
        <button mat-icon-button (click)="showImageSelectDialog()" color="primary" fxFlexOffset="2rem"
                aria-label="Add Image" matTooltip="Add Image" matTooltipPosition="right"
                i18n-aria-label="add image|Add Image" i18n-matTooltip="add image|Add Image"
                gaEvent="click" gaLabel="AddImage">
          <mat-icon>insert_photo</mat-icon>
        </button>

        <button mat-icon-button (click)="addText()" color="primary"
                aria-label="Add Text Box" matTooltip="Add Text Box" matTooltipPosition="right"
                i18n-aria-label="add text box|Add Text Box" i18n-matTooltip="add text box|Add Text Box"
                gaEvent="click" gaLabel="AddText">
          <mat-icon>format_shapes</mat-icon>
        </button>

        <button mat-icon-button (click)="addCircle()" color="primary"
                aria-label="Add Circle" matTooltip="Add Circle" matTooltipPosition="right"
                i18n-aria-label="add circle|Add Circle" i18n-matTooltip="add circle|Add Circle"
                gaEvent="click" gaLabel="AddCircle">
          <mat-icon>panorama_fish_eye</mat-icon>
        </button>

        <button mat-icon-button (click)="addLine()" color="primary"
                aria-label="Add Line" matTooltip="Add Line" matTooltipPosition="right"
                i18n-aria-label="add line|Add Line" i18n-matTooltip="add line|Add Line"
                gaEvent="click" gaLabel="AddLine">
          <mat-icon>remove</mat-icon>
        </button>

        <button mat-icon-button (click)="addTriangle()" color="primary"
                aria-label="Add Triangle" matTooltip="Add Triangle" matTooltipPosition="right"
                i18n-aria-label="add triangle|Add Triangle" i18n-matTooltip="add triangle|Add Triangle"
                gaEvent="click" gaLabel="AddTriangle">
          <mat-icon>change_history</mat-icon>
        </button>

        <button mat-icon-button (click)="addSquare()" color="primary"
                aria-label="Add Square" matTooltip="Add Square" matTooltipPosition="right"
                i18n-aria-label="add square|Add Square" i18n-matTooltip="add square|Add Square"
                gaEvent="click" gaLabel="AddSquare">
          <mat-icon>crop_din</mat-icon>
        </button>

        <button mat-icon-button (click)="addPlus()" color="primary"
                aria-label="Add Plus" matTooltip="Add Plus" matTooltipPosition="right"
                i18n-aria-label="add plus|Add Plus" i18n-matTooltip="add plus|Add Plus"
                gaEvent="click" gaLabel="AddPlus">
          <mat-icon>add</mat-icon>
        </button>

        <button mat-icon-button (click)="addCross()" color="primary"
                aria-label="Add Cross" matTooltip="Add Cross" matTooltipPosition="right"
                i18n-aria-label="add cross|Add Cross" i18n-matTooltip="add cross|Add Cross"
                gaEvent="click" gaLabel="AddCross">
          <mat-icon>close</mat-icon>
        </button>

        <button mat-icon-button (click)="addArrow()" color="primary"
                aria-label="Add Arrow" matTooltip="Add Arrow" matTooltipPosition="right"
                i18n-aria-label="add arrow|Add Arrow" i18n-matTooltip="add arrow|Add Arrow"
                gaEvent="click" gaLabel="AddArrow">
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>

      <!-- Canvas -->
      <mat-card class="mt-3">
        <canvas #canvasElement id="canvas" width="400" height="400"></canvas>
      </mat-card>
    </div>
  </div>

  <!-- Properties -->
  <div fxFlex="33">
      <div *ngIf="selectedElement?.fill">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2>Fill</h2>
            <button mat-icon-button *ngIf="selectedElement?.fill !== 'transparent'"
                    aria-label="Clear Fill" matTooltip="Clear Fill" matTooltipPosition="left"
                    i18n-aria-label="clear fill|Clear Fill" i18n-matTooltip="clear fill|Clear Fill"
                    (click)="setProperty('fill', 'transparent')">
              <mat-icon color="primary" [style.color]="selectedElement?.fill" *ngIf="selectedElement && selectedElement?.fill">format_color_reset</mat-icon>
            </button>

          </div>

          <color-github *ngIf="selectedElement && selectedElement?.fill"
                        [color]="selectedElement?.fill" [colors]="pickerColours" [width]="238" triangle="hide"
                        (onChange)="setProperty('fill', $event.color.hex)"></color-github>

    </div>
      <div *ngIf="selectedElement?.stroke">

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h2>Outline</h2>
          <button mat-icon-button *ngIf="selectedElement?.stroke !== 'transparent'"
                  aria-label="Clear Outline" matTooltip="Clear Outline" matTooltipPosition="left"
                  i18n-aria-label="clear outline|Clear Outline" i18n-matTooltip="clear outline|Clear Outline"
                  (click)="setProperty('stroke', 'transparent')">
            <mat-icon color="primary" [style.color]="selectedElement?.stroke" *ngIf="selectedElement && selectedElement?.stroke">format_color_reset</mat-icon>
          </button>

        </div>

        <color-github *ngIf="selectedElement && selectedElement.stroke !== undefined"
                      [color]="selectedElement?.stroke" [colors]="pickerColours" [width]="238" triangle="hide"
                      (onChange)="setProperty('stroke', $event.color.hex)"></color-github>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-label  fxFlex="30" i18n="thickness|Thickness">Thickness</mat-label>
          <mat-slider fxFlex="70"  [(ngModel)]="selectedElement.strokeWidth" min="0" max="10"
                    [step]="1"
                    [thumbLabel]="true"
                    (change)="setProperty('strokeWidth', $event.value)"></mat-slider>
        </div>

      </div>
      <div *ngIf="selectedElement?.type === 'i-text'">
        <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2 i18n="text|Text">Text</h2>
          <div>
            <button mat-icon-button aria-label="Bold" i18n-aria-label="bold|Bold"
                    [color]="selectedElement?.fontWeight === 'bold' ? 'primary' : null" (click)="toggleFontWeight()">
              <mat-icon>format_bold</mat-icon>
            </button>
            <button mat-icon-button aria-label="Italic" i18n-aria-label="italic|Italic"
                    [color]="selectedElement?.fontStyle === 'italic' ? 'primary' : null" (click)="toggleFontStyle()">
              <mat-icon>format_italic</mat-icon>
            </button>
            <button mat-icon-button aria-label="Underline" i18n-aria-label="underline|Underline"
                    [color]="selectedElement?.underline ? 'primary' : null" (click)="setProperty('underline', !selectedElement.underline)">
              <mat-icon>format_underline</mat-icon>
            </button>
          </div>
        </div>

        <mat-form-field appearance="fill" *ngIf="selectedElement?.fontFamily" class="w-100">
          <mat-label i18n="font|Font">Font</mat-label>
          <mat-select [(ngModel)]="selectedElement.fontFamily" (selectionChange)="setProperty('fontFamily', $event.value)">
            <mat-optgroup *ngFor="let group of fonts" [label]="group.name">
              <mat-option *ngFor="let font of group.fonts" [value]="font" [ngStyle]="{fontFamily: font}">
                {{font}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>


      </div>
  </div>
</div>
<!--<pre>{{selectedElement | json}}</pre>-->
<mat-menu #downloadMenu="matMenu" gaCategory="SymbolCreator">
  <button mat-menu-item (click)="savePNG()"
          gaEvent="click" gaLabel="SaveAsPNG">
    <span i18n="Save to Device (PNG)">Save to Device (PNG)</span>
  </button>
  <button mat-menu-item (click)="saveSVG()"
          gaEvent="click" gaLabel="SaveAsSVG">
    <span i18n="Save to Device (SVG)">Save to Device (SVG, Advanced)</span>
  </button>
</mat-menu>
