div {
  display: inline-block;
}

::ng-deep {
  img, svg {
    height: 8rem;
    width: auto;
  }

  // Directs adaptable SVGs to use CSS variables for hair and skin fills when the .aac-{hair|skin}-fill-active class is set.
  .aac-hair-fill-active svg .aac-hair-fill,
  .aac-hair-fill-active svg .aac-hair-fill * {
    fill: var(--hair-fill) !important;
  }

  .aac-skin-fill-active svg .aac-skin-fill,
  .aac-skin-fill-active svg .aac-skin-fill * {
    fill: var(--skin-fill) !important;
  }
}


