<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <div>
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <button mat-button [routerLink]="['/', 'boardsets']">
        <mat-icon>arrow_back</mat-icon>
        <ng-container i18n>Board Sets</ng-container></button>
    </div>
    <div class="example-spacer"></div>
    <h1 class="example-app-name">
      <ng-container *ngIf="boardSet">{{boardSet.title}}</ng-container>
      <ng-container *ngIf="!boardSet" i18n>Global Symbols BoardBuilder</ng-container>
    </h1>
    <div class="example-spacer"></div>
    <button mat-icon-button aria-label="Change Board Properties" i18n-aria-label (click)="editBoard(board)" *ngIf="board" matTooltip="Change Board Properties" i18n-matTooltip="">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="matBoardMenu"
            aria-label="Import/Export" i18n-aria-label matTooltip="Upload/Download" i18n-matTooltip>
      <mat-icon>import_export</mat-icon>
    </button>
    <button mat-icon-button aria-label="Delete this Board" i18n-aria-label (click)="deleteBoard(board)" *ngIf="board" matTooltip="Delete this Board" i18n-matTooltip>
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
                         [autosize]="true"
  >
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="!mobileQuery.matches">
      <div class="builder-sidenav-section">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h3>Boards</h3>
          <button mat-icon-button (click)="addBoard()" matTooltip="Add Board" i18n-matTooltip aria-label="Add Board" i18n-aria-label>
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <app-board-tree *ngIf="boardSet" [boards]="boardSet.boards" [selectedBoard]="board" (selectionChange)="selectBoard($event)"></app-board-tree>

    </mat-sidenav>

    <mat-sidenav [opened]="selectedCell" mode="side" position="end" id="cellEditor" #cellEditor
                 (opened)="disableCellEditorAnimations = false"
                 (closed)="disableCellEditorAnimations = true; selectedCell = null">

      <app-cell-editor [(boardSet)]="boardSet" [(board)]="board" [(cell)]="selectedCell" (close)="cellEditor.close()" [@.disabled]="disableCellEditorAnimations"></app-cell-editor>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-board-detail [board]="board" [(cell)]="selectedCell"></app-board-detail>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<mat-menu #matBoardMenu="matMenu">
  <button mat-menu-item (click)="downloadBoard(board)">
    <mat-icon>save_alt</mat-icon> <ng-container i18n>Download Board as OBF</ng-container>
  </button>
  <button *ngIf="board" mat-menu-item [routerLink]="['/','boardsets',boardSet.uuid, board.uuid, 'pdf']">
    <mat-icon>picture_as_pdf</mat-icon> Print or Download Board as PDF

  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="uploadBoardObf(board)">
    <mat-icon>insert_drive_file</mat-icon> <ng-container i18n>Add Board from OBF</ng-container>
  </button>
  <button mat-menu-item (click)="downloadBoardSetObz()">
    <mat-icon>save_alt</mat-icon> <ng-container i18n>Download Board Set as OBZ</ng-container>
  </button>
</mat-menu>
