<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <div>
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <button mat-button [routerLink]="['/', 'boardsets']"><mat-icon>arrow_back</mat-icon> Board Sets</button>
    </div>
    <div class="example-spacer"></div>
    <h1 class="example-app-name">{{boardSet ? boardSet.title : 'Global Symbols BoardBuilder' }}</h1>
    <div class="example-spacer"></div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="!mobileQuery.matches">
      <div class="builder-sidenav-section" *ngIf="board">
        <h3>{{board.title}}</h3>
        <div class="board-toolbar">
          <button mat-icon-button aria-label="Board Settings" (click)="editBoard(board)" *ngIf="board" matTooltip="Board Settings">
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button aria-label="Delete this Board" (click)="deleteBoard(board)" *ngIf="board" matTooltip="Delete this Board">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button aria-label="Download this Board" (click)="downloadBoard(board)" *ngIf="board" matTooltip="Download this Board">
            <mat-icon>save_alt</mat-icon>
          </button>
          <button mat-icon-button aria-label="Download as PDF" (click)="pdfDialog(board)" *ngIf="board" matTooltip="Download as PDF">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="builder-sidenav-section">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="">
          <h3>Boards</h3>
          <button mat-icon-button (click)="addBoard()" matTooltip="Add Board" aria-label="Add Board">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <app-board-tree *ngIf="boardSet" [boards]="boardSet.boards" [selectedBoard]="board" (selectionChange)="selectBoard($event)"></app-board-tree>

    </mat-sidenav>

    <mat-sidenav [opened]="selectedCell" mode="side" position="end" id="cellEditor" #cellEditor
                 (opened)="disableCellEditorAnimations = false"
                 (closed)="disableCellEditorAnimations = true; selectedCell = null">

      <app-cell-editor [(boardSet)]="boardSet" [(board)]="board" [(cell)]="selectedCell" (close)="cellEditor.close()" [@.disabled]="disableCellEditorAnimations"></app-cell-editor>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-board-detail [board]="board" [(cell)]="selectedCell"></app-board-detail>
<!--      {{board | json}}-->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
