<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{board ? board.title : 'Global Symbols BoardBuilder' }}</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Delete this Board" (click)="deleteBoard(board)" *ngIf="board">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="!mobileQuery.matches">

      <button mat-raised-button color="primary" style="margin: 10px" (click)="addBoard()">Add Board</button>

      <mat-nav-list *ngIf="boardSet">
        <mat-list-item *ngFor="let board of boardSet.boards" (click)="selectBoard(board)">{{board.title}}</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav [opened]="selectedCell" mode="side" position="end" id="cellEditor" #cellEditor
                 (opened)="disableCellEditorAnimations = false"
                 (closed)="disableCellEditorAnimations = true; selectedCell = null">

      <app-cell-editor [(cell)]="selectedCell" (close)="cellEditor.close()" [@.disabled]="disableCellEditorAnimations"></app-cell-editor>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-board-detail [board]="board" [(cell)]="selectedCell"></app-board-detail>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
