$button-bottom-padding: 2px;
$icon-button-side-padding: 7px;

button {
  padding-left: $icon-button-side-padding;

  mat-icon {
    padding-bottom: $button-bottom-padding;
    padding-right: 4px;
  }
}
