<div cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary="body"
>

  <header fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
    <h1 mat-dialog-title i18n class="mb-0">Create Board Set</h1>
    <button mat-icon-button aria-label="Close" [mat-dialog-close]="false"
            (mousedown)="$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div mat-dialog-content>

    <mat-horizontal-stepper linear>

      <mat-step [stepControl]="boardSetForm">
        <ng-template matStepLabel>Board Set</ng-template>
        <form [formGroup]="boardSetForm">

          <mat-form-field class="w-100 mb-3" appStopPropagation>
            <mat-label>Board Set Title</mat-label>
            <input matInput formControlName="name" required>
            <mat-hint>Choose a name for your new Board Set.</mat-hint>
          </mat-form-field>
        </form>

        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
          <img src="/assets/images/board-set.svg" alt="Board Set" />
          <div>
            <p>A Board Set is a collection of communication Boards - as many or as few as you like.</p>
            <p>On the next page, we'll set up your first Board.</p>
          </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="end none" class="mt-2">
          <button mat-raised-button matStepperNext color="primary" appStopPropagation>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Choose Template</ng-template>
        <app-board-editor-form [board]="board"></app-board-editor-form>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-2">
          <button mat-raised-button matStepperPrevious appStopPropagation>Back</button>
          <button mat-raised-button (click)="create()" color="primary" i18n
                  appStopPropagation>Create</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>


<!--    <mat-form-field class="w-100" appearance="outline">-->
<!--      <mat-label i18n>Board Set Name</mat-label>-->
<!--      <input matInput required placeholder="Name" cdkFocusInitial-->
<!--             [formControl]="name"-->
<!--             (mousedown)="$event.stopPropagation()">-->
<!--    </mat-form-field>-->



  </div>
</div>
