<div cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary="body"
>

  <header fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
    <h1 mat-dialog-title i18n class="mb-0">Create Board Set</h1>
    <button mat-icon-button aria-label="Close" [mat-dialog-close]="false"
            (mousedown)="$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div mat-dialog-content>

    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Board Set Name</ng-template>
          <mat-form-field>
            <mat-label>Board Set Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <app-board-editor-form [board]="board"></app-board-editor-form>
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>


<!--    <mat-form-field class="w-100" appearance="outline">-->
<!--      <mat-label i18n>Board Set Name</mat-label>-->
<!--      <input matInput required placeholder="Name" cdkFocusInitial-->
<!--             [formControl]="name"-->
<!--             (mousedown)="$event.stopPropagation()">-->
<!--    </mat-form-field>-->



  </div>
  <div mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-raised-button (click)="create()" color="primary" i18n
            (mousedown)="$event.stopPropagation()">Create</button>
  </div>
</div>
