<div fxLayout="row" fxLayoutAlign="space-between start">
  <h1 mat-dialog-title>{{data.boardSet.title}}</h1>
  <button mat-icon-button aria-label="Close the cell editor" [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <mat-form-field class="w-100">
    <mat-label i18n>Title</mat-label>
    <input matInput required [(ngModel)]="data.boardSet.title" placeholder="Title">
  </mat-form-field>
  <div *ngIf="data.boardSet.createdAt" i18n>
    Created: {{data.boardSet.createdAt | date}}
  </div>


</div>
<div mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial i18n>Done</button>
</div>
