<div cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary="body"
>
  <h1 mat-dialog-title i18n="Copy Board Set dialog heading">Copy {{boardSet.name}}</h1>

  <div mat-dialog-content>
    <ng-container *ngIf="status === 'Confirming'">
      <p i18n="Copy Board Set dialog prompt">Copy this Board Set?</p>
      <p *ngIf="boardSet.readonly === true" i18n="Copy Board Set dialog readonly notice">You will be able to edit the copy.</p>
    </ng-container>
    <app-loading-notice *ngIf="status === 'Copying'" action="Copying" subject="Board Set"
                        i18n-action="copying|Copying (duplicating)" i18n-subject="board set|Board Set"></app-loading-notice>
    <p *ngIf="status === 'Copied'" i18n="Copy Board Set dialog complete notice">Copy complete!</p>
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close]="false" color="primary" [disabled]="status === 'Copying'" appStopPropagation *ngIf="status != 'Copied'" i18n="cancel|Cancel">Cancel</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="copyBoardSet()" [disabled]="status === 'Copying'" appStopPropagation *ngIf="status != 'Copied'" i18n="copy|Copy">Copy</button>
    <button mat-raised-button color="primary" (click)="openCopiedBoardSet()" appStopPropagation *ngIf="status === 'Copied'" i18n="Go to Copy button">Go To Copy</button>
  </div>
</div>
