.folder-row,
.board-row {
  overflow: hidden;
}

.folder-row {
  margin-bottom: 1.5rem;
}

.card-container {
  min-height: 165px;
  display: flex;
}

.folder-card {
  cursor: pointer;
  width: 100%;
  min-height: 165px;
}

.search-field {
  margin-bottom: -1.25em;
}

.folder-icon {
  vertical-align: middle;
  margin-right: 0.25rem;
}

