<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-icon-button (click)="returnToBoard()"><mat-icon>arrow_back</mat-icon></button>
  <h1>PDF Preview</h1>
  <div></div>
</mat-toolbar>
<div class="section">
  <div *ngIf="generatingPdf" class="text-center">
    <mat-progress-spinner
      mode="indeterminate">
    </mat-progress-spinner>
    <p>Generating your PDF&hellip;</p>
  </div>

  <embed [hidden]="!pdfReady" #pdfFrame class="w-100" style="height: 600px"/>

  <div *ngIf="failureReason">
    <h2>Something went wrong</h2>
    <p>{{failureReason}}</p>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-stroked-button (click)="returnToBoard()" color="primary">Done</button>
    <button mat-raised-button (click)="downloadPdf()" color="primary" [disabled]="!pdfReady">Download</button>
  </div>
</div>
