/* You can add global styles to this file, and also import other style files */

@import "~app/shared/variables";

html, body { height: 100%; }
body { margin: 0; font-family: Lato, "Helvetica Neue", sans-serif; }

.d-none {
  display: none !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.img-responsive {
  max-width: 100%;
}

.mx-2 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-1 {
  margin-top: .5rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}
.mb-1 {
  margin-bottom: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 1rem !important;
}
.mb-3 {
  margin-bottom: 1.5rem !important;
}

.mr-1 {
  margin-right: .5rem !important;
}

.mr-2 {
  margin-right: 1rem !important;
}

.mr-3 {
  margin-right: 1.5rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.pb-1 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1.5rem !important;
}

.py-1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-2 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.rot-90-cw {
  transform: rotate(90deg);
}

.bg-primary {
  background: $blue;
}

mat-form-field.no-label .mat-form-field-infix{
  border-top-width: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar h1 {
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.mat-icon.mat-icon-2x {
  $icon-size-2x: 48px;
  font-size: $icon-size-2x;
  height: $icon-size-2x;
  width: $icon-size-2x;
}

// Scrollbars
::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-left: 1px;
  border-left: 1px solid white;
}

::-webkit-scrollbar-thumb {
  background: #BBB;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}


.sentry-error-embed {

  * {
    font-weight: 300 !important;
  }

  .form-submit {
    .btn,
    .btn:hover {
      background: $blue !important;
    }

    .close {
      font-size: 16px !important;
      float: right !important;
    }
  }

}
