<mat-expansion-panel hideToggle class="example-headers-align">
  <mat-expansion-panel-header>
    <mat-panel-title>{{label}}</mat-panel-title>
    <mat-icon [style.color]="value">color_lens</mat-icon>
  </mat-expansion-panel-header>

  <div fxFlexFill fxLayoutGap="10px grid" fxLayout="wrap" class="colour-grid">
    <div fxFlex="25" *ngFor="let colour of colours">
      <button mat-mini-fab [style.background-color]="colour.hex" (click)="selectColour(colour.hex)"></button>
    </div>
  </div>
</mat-expansion-panel>
