<div fxLayout="row" fxLayoutAlign="space-between start">
  <h1 mat-dialog-title i18n>Add Board from OBF</h1>
  <button mat-icon-button aria-label="Close the cell editor" i18n-aria-label [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>


<div mat-dialog-content>
  <p i18n>Add a new Board from an Open Board Format (OBF) file.</p>
  <p i18n>Select an OBF file to begin.</p>
  <div fxLayout="row" fxLayoutAlign="center none" >
    <button mat-stroked-button (click)="uploadInput.click()">
      {{filename}}
      <ng-container *ngIf="!filename" i18n>Select OBF&hellip;</ng-container>
    </button>
  </div>

  <input type="file" accept=".obf" style="display: none" #uploadInput (change)="fileChanged($event.target)">

  <p *ngIf="previewBoard" role="alert" i18n>
    We found {{previewBoard.cells.length}} tiles in your OBF file.
  </p>

  <p *ngIf="fileInvalid" role="alert" i18n>The file you provided is not a valid OBF file.</p>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="false" color="primary" i18n>Cancel</button>
  <span class="spacer"></span>
  <button mat-raised-button [mat-dialog-close]="previewBoard" color="primary" [disabled]="!previewBoard" i18n>Add Board</button>
</div>
