<div cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary="body"
>

  <header fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
    <h1 mat-dialog-title i18n class="mb-0">Add Board from OBF</h1>
    <button mat-icon-button aria-label="Close" [mat-dialog-close]="false" (mousedown)="$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div mat-dialog-content class="text-center">
    <p i18n>Add a new Board by importing an Open Board Format (OBF) file.</p>

    <p i18n *ngIf="state !== 'Uploading'">Select an OBF file to begin.</p>
    <p i18n *ngIf="state === 'Uploading'"><em>Uploading&hellip;</em></p>

    <div fxLayout="row" fxLayoutAlign="center none" >

      <mat-spinner *ngIf="state === 'Uploading'" diameter="24" style="margin: 0 auto"></mat-spinner>

      <button *ngIf="state !== 'Uploading'" mat-stroked-button (click)="uploadInput.click()" (mousedown)="$event.stopPropagation()">
        {{filename}}
        <ng-container *ngIf="!filename" i18n>Select OBF&hellip;</ng-container>
      </button>
    </div>

    <p *ngIf="previewBoard" role="alert" i18n>
      We found {{previewBoard.cells.length}} {previewBoard.cells.length, plural, =1 {cell} other {cells}} in your OBF file.
    </p>

    <p *ngIf="state === 'FileInvalid'" role="alert" i18n>The file you provided is not a valid OBF file.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close]="false" color="primary" (mousedown)="$event.stopPropagation()" i18n>Cancel</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" [disabled]="!previewBoard || state === 'Uploading'" (mousedown)="$event.stopPropagation()" i18n (click)="uploadBoard()">Add Board</button>
  </div>
  <input type="file" accept=".obf" style="display: none" #uploadInput (change)="fileChanged($event.target)">
</div>
