.example-radio-group {
  display: flex;
  flex-direction: column;
  /*margin: 15px 0;*/
}

.example-radio-button {
  margin: 5px;
}

.img-responsive {
  max-width: 100%;
}

.symbol-search-panel-image-button {
  padding: 0.5rem;
}

.symbol-search-panel-searching-notification {
  text-align: center;
}

.symbol-search-panel-searching-notification mat-progress-spinner {
  margin: 30px auto;
}

