<div fxLayout="row" fxLayoutAlign="space-between none" >
  <label id="example-radio-group-label" i18n>Search in</label><br />

  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="source" (change)="query && search()">
    <mat-radio-button class="example-radio-button" *ngFor="let source of sources" [value]="source">
      {{source.name}}
    </mat-radio-button>
  </mat-radio-group>
</div>

<mat-form-field class="w-100" appearance="outline">
  <mat-label i18n>Search For</mat-label>
  <input matInput [(ngModel)]="query" (change)="search()" #queryInput>
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div *ngFor="let param of source.params">
  <mat-form-field class="w-100" *ngIf="param.type === 'text'">
    <input matInput [(ngModel)]="param.value" [placeholder]="param.label" (change)="search()">
  </mat-form-field>

  <mat-form-field class="w-100" *ngIf="param.type === 'select'">
    <mat-label>{{param.label}}</mat-label>
    <mat-select [(value)]="param.value" (selectionChange)="search()">
      <mat-option *ngIf="param.allowBlank" [value]="param.allowBlank.value">{{param.allowBlank.name}}</mat-option>
      <mat-option *ngFor="let option of param.options" [value]="option[param.option_id]">{{option.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayoutGap="10px grid" fxLayout="row wrap" *ngIf="!(loading$ | async)">
  <div fxFlex="25" *ngFor="let result of results$ | async">
    <button mat-stroked-button color="primary" (click)="selectImage(result)" class="symbol-search-panel-image-button">
      <img mat-card-image [src]="result.imageUrl" class="img-responsive"/>
    </button>
  </div>
</div>

<div *ngIf="(loading$ | async) === false && (results$ | async)?.length === 0" class="no-results">
  <div>
    <mat-icon [inline]="true">category</mat-icon>
  </div>

  <p i18n>We couldn't find any symbols.</p>
  <p i18n>Try broadening your search.</p>
</div>

<div *ngIf="loading$ | async" class="symbol-search-panel-searching-notification">
  <mat-progress-spinner
    class="example-margin"
    mode="indeterminate">
  </mat-progress-spinner>
  <ng-container i18n>Searching&hellip;</ng-container>
</div>
